.github/workflows/azure-terraform.yml
name: Deploy Azure Infra via Terraform

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    runs-on: self-hosted  # Ye tera runner use karega

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.7

      - name: Terraform Init
        run: terraform init
        working-directory: ./environments/dev  # <-- yahan apna terraform folder ka path daal

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./environments/dev

      - name: Terraform Plan
        run: terraform plan
        working-directory: ./environments/dev

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: ./environments/dev
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
