name: "Dev Terraform Workflow"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  terraform-init-plan:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Azure Login
        uses: azure/login@v2.3.0
        with:
          client-id: 61eec298-e450-4a09-acb2-2755a57d4758
          tenant-id: 4160b9b1-20ff-4971-be22-0b1c30d05d91
          subscription-id: 8c512603-6b99-4d47-9d27-a573899ff4aa

      - name: Terraform Format Check
        run: terraform fmt -check
        continue-on-error: true
        working-directory: environments/dev

      - name: Terraform Init
        run: terraform init -input=false
        working-directory: environments/dev

      - name: Terraform Validate
        run: terraform validate -no-color
        working-directory: environments/dev

      - name: Terraform Plan
        run: terraform plan -input=false
        working-directory: environments/dev
